<a href="" [routerLink]="['/dashboard']"><i class="fa fa-angle-left" aria-hidden="true"></i> Home</a>
<hr />
<h1>
    DevExtreme Works!
</h1>

<div class="form">
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">
                <strong>Buttons/Toasts Demo</strong>
            </div>
            <div class="dx-field-value">
                <dx-switch #buttonSwitch [value]="false"></dx-switch>
            </div>
        </div>
        <app-buttons [hidden]="!buttonSwitch.value"></app-buttons>
    </div>
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">
                <strong>Local Data Grid</strong>
            </div>
            <div class="dx-field-value">
                <dx-switch #localDataGridSwitch [value]="false"></dx-switch>
            </div>
        </div>
        <app-local-data-grid [hidden]="!localDataGridSwitch.value"></app-local-data-grid>
    </div>
</div>