<a href="" [routerLink]="['/dashboard']"><i class="fa fa-angle-left" aria-hidden="true"></i> Home</a>

<h1>
    DevExtreme Works!
</h1>

<div class="form">
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">
                <strong>Toasts Demo</strong>
            </div>
            <div class="dx-field-value">
                <dx-switch #btnSwitch [value]="false"></dx-switch>
            </div>
        </div>
        <app-buttons [hidden]="!btnSwitch.value"></app-buttons>
    </div>
</div>