<p><a href="#"><i class="fa fa-chevron-left"></i> Back to Employee Summary</a></p>
  <hr>
  <h1 class="spc-btm-15">Order Reason Code</h1>

<dx-box
    class="main-component pad-15 spc-btm-30"
    direction="row"
    width="100%">
    <dxi-item
        [ratio]="1">
        Order summary goes here
    </dxi-item>
</dx-box>

<h1>Appointments</h1>
<p class="spc-btm-15"><a href="#"><i class="fa fa-plus"></i> Add an Appointment</a></p>

<dx-box
    class="main-component pad-15 spc-btm-30"
    direction="row"
    width="100%">
    <dxi-item
        [ratio]="1">
        Appointment summary goes here
    </dxi-item>
</dx-box>