$lhi-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$lhi-gray-02: #D0D0CE !default;
$lhi-gray-05: #B1B3B3 !default;
$lhi-gray-08: #888B8D !default;
$lhi-gray-11: #53565A !default;

$lhi-brand-blue-light: #0077C8 !default;
$lhi-brand-blue: #004C97 !default;
$lhi-brand-blue-dark: #003087 !default;

$lhi-brand-green-light: #ADDC91 !default;
$lhi-brand-green: #8EDD65 !default;
$lhi-brand-green-dark: #4B9560 !default;

$lhi-red: #9E2A2F !default;
$lhu-warning: #E87722 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$spacer: 1rem !default;
// $spacers: (
//   0: 0,
//   1: ($spacer * .25),
//   2: ($spacer * .5),
//   3: $spacer,
//   4: ($spacer * 1.5),
//   5: ($spacer * 3)
// ) !default;


$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

