<a href="" [routerLink]="['/dashboard']"><i class="fa fa-chevron-left" aria-hidden="true"></i> Home</a>
<hr />
<dx-box direction="row" align="start">
    <dxi-item [ratio]="1">
        <h1>Style Guide</h1>
        <p>A reference guide for patterns in CS Web App.</p>
    </dxi-item>
</dx-box>
<dx-box direction="row" [height]="100" align="start" crossAlign="end">
    <dxi-item [ratio]="1">
        <h1>Colors</h1>
    </dxi-item>
</dx-box>
<hr />
<dx-box direction="row">
    <dxi-item [ratio]="1">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-2945
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#004C97" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-660 (ON-SCREEN)
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#0077C8" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-287
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#003087" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-7487
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#8EDD65" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-358
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#ADDC91" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-7730
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#4B9560" [readOnly]="true"></dx-color-box>
                </div>
            </div>
        </div>
    </dxi-item>
    <dxi-item [ratio]="1">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-Cool Gray 11
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#53565A" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-Cool Gray 8
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#888B8D" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-Cool Gray 5
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#B1B3B3" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-Cool Gray 2
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#D0D0CE" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-158
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#E87722" [readOnly]="true"></dx-color-box>
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">
                    PANTONE-708
                </div>
                <div class="dx-field-value">
                    <dx-color-box value="#9E2A2F" [readOnly]="true"></dx-color-box>
                </div>
            </div>
        </div>

    </dxi-item>
</dx-box>
<dx-box direction="row" [height]="100" align="start" crossAlign="end">
    <dxi-item [ratio]="1">
        <h1>Headings</h1>
    </dxi-item>
</dx-box>
<hr />
<dx-box direction="row">
    <dxi-item [ratio]="1">
        <div class="h1">h1 heading</div>
        <div class="h2">h2 heading</div>
        <div class="h3">h3 heading</div>
        <div class="h4">h4 heading</div>
        <div class="h5">h5 heading</div>
        <div class="h6">h6 heading</div>
    </dxi-item>
    <dxi-item [ratio]="1">
        <div class="h1">.h1 class</div>
        <div class="h2">.h2 class</div>
        <div class="h3">.h3 class</div>
        <div class="h4">.h4 class</div>
        <div class="h5">.h5 class</div>
        <div class="h6">.h6 class</div>
    </dxi-item>
</dx-box>



<!--<dx-accordion #accordion [dataSource]="data" [collapsible]="true" [multiple]="true" [animationDuration]="300" [selectedItems]="false">
    <div *dxTemplate="let data of 'title'">
        <p>{{data.title}}</p>
    </div>
    <div *dxTemplate="let data of 'item'">
        <div [innerHTML]="data.content"></div>
    </div>
</dx-accordion>
-->